body{
    font-family:'Source Sans Pro', sans-serif;
    margin: 0;
}
h2{
    font: 50px;
}
.orange{
    color:crimson;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    padding-left: 10%;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
    
}
.link-Button{
    text-decoration: none;
    background-image: linear-gradient(blue ,orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.img2 {
    width: 70%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    
    background-repeat: no-repeat;
    background-position: right ;
    
}
.experience-area{
    background-image:url(images/exp-bg.png);
background-repeat: no-repeat;
    background-position: left;
    
    
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
}
#brilliant-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, crimson);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(blue, crimson);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}